@import "tailwindcss";
@plugin "daisyui";

/* Why to green */

@keyframes sectionUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* How ecotrack work */
.animate-sectionUp {
  animation: sectionUp 1s ease-out forwards;
}
.card-content {
  text-align: center;
  padding: 2rem;
}
.icon {
  color: #16a34a;
  width: 40px;
  height: 40px;
}
.animate-card {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.6s ease forwards;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}
/* button */
@keyframes sparkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}
